/* global.module.css */

.titulo
{
    font-family: "Noto Serif", serif;
    text-align: center;
    font-size: 26px;
}

.subtitulo
{
    font-family: "Noto Serif", serif;
    text-align: center;
    font-size: 18px;
}