/* detailStyles.module.css */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.image {
  max-width: 100%;
}

.text {
  max-width: 90%;
}

.imageResponsive {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
