/* components/Header.module.css */

.header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: white;
    z-index: 9999;
    border-bottom: 2px solid lightgray;
  }
  
  .logoContainer {
    flex: 1;
  }
  
  .logo {
    max-width: 100px; /* Ajusta el tamaño máximo del logo según tus necesidades */
    height: auto;
  }
  
  .iconContainer {
    flex-shrink: 0;
    font-size: 20px;
  }
  
  .heartIcon {
    width: 24px; /* Ajusta el tamaño del corazón según tus necesidades */
    height: auto;
    cursor: pointer;
  }
  