  // cardProductos
  
  .cardProductos {
    display: inline-block;
    margin: 10px;
    box-sizing: border-box; 
  }
  
  .cardProductos img {
    width: 100%;
    height: auto;
  }

  .imagenProducto {
    max-height: 200px;
    max-width: 250px;
  }

  .titulo {
    text-align: left;
    font-weight: bold;
  }

  .precio {
    text-align: left;
  }