/* home.module.css */

.homeImage {
    max-width: 100%;
    height: auto;
    max-height: 947px;
    width: 100%;
  }
  
  .botoneraContainer {
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.button1 {
    text-decoration: underline;
    background-color: #F5F5F5;
    cursor: pointer;
    margin: 5px;
    padding: 5px 15px 15px; 
  }
  

  /* card */

  .cardListContainer {
    overflow-x: auto; 
    white-space: nowrap;
    text-align: center;
    padding-top: 5%;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; 
  }

  .card {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 10px; 
  }
  
  .card img {
    width: 100%;
    height: auto;
  }

  /* cardProductos */
  .cardListContainerProductos {
    margin-top: 5%;
    text-align: center;
    justify-content: center;
  }
  
  .cardProductos {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px; 
    box-sizing: border-box; 
  }
  
  .cardProductos img {
    width: 100%;
    height: auto;
  }

  .buttonTodos {
    background-color: white;
    padding: 20px 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  