/* home.module.css */

.homeImage {
    max-width: 100%;
    height: auto;
    max-height: 947px;
  }
  
  .botoneraContainer {
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  

.button1 {
    text-decoration: underline;
    background-color: #F5F5F5;
    cursor: pointer;
    margin: 5px;
    padding: 5px 15px 15px; 
  }
  

  /* card */

  .cardListContainer {
    overflow-x: auto; 
    white-space: nowrap;
    text-align: center;
    padding-top: 5%;
  }
  
  .card {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 10px; 
  }
  
  .card img {
    width: 100%;
    height: auto;
  }

